@charset "utf-8";

* { margin:0; padding:0; box-sizing:border-box; }

@font-face {
	font-family:'NG';
	src:url(../fonts/NanumGothic.eot);
	src:local(' '), url(../fonts/NanumGothic.woff);
}

ul { list-style:none; }
a, a:hover, a:active, a:visited, a:link { text-decoration:none; outline:none; color:#333; }
.clear { clear:both; }

body { 
	font-family:'NG', sans-serif; font-size:16px; color:#333;
	background:#FFF;
}
section { transition:all 0.4s ease-in; }
h1, h2, h3, h4, h5, h6 { font-family:'NG', sans-serif; }














